# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Local Data & Submission Outputs
*.csv
*.jsonl
*.xlsx

# IDEs and System files
.vscode/
.idea/
.DS_Store